@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:rebeccapurple">Welcome</h1>
    <h1>Vasite rezervacii</h1>
    <a asp-controller="Reservations" asp-action="Index">Rezervacii</a>
</div>
